/* index.css */
body {
  background: linear-gradient(135deg, #b0b3f8, #e1daf7);
  color: #000000;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1, h2, h3, p {
  margin: 0 0 35px 0;
}

.form-container {
  max-width: 800px;
  width: 100%;
  padding: 40px;
  border: 1px solid #ccb5b5;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, #adb1fd, #e3d9ff);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form-container h2 {
  margin-top: 0;
  display:flexbox;
  color: #000000;

}

.form-container p {
  color: #413f3f;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-container form > div {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  
}

.form-container form button {
  padding: 10px 20px;
  margin: 5px auto;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container form button:hover {
  background-color: #0056b3;
}

.next-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.translation {
  color: #111111;
  margin-top: -25px;
}

.summary-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.summary-item label {
  font-weight: bold;
  margin-right: 20px;
}

.summary-item p {
  margin: 0;
}
