/* NumericInput.css */
.numericinput-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  width: 100%;
}

.numericinput-container label {
  margin-right: 10px;
  color: #333;
  width: 30%; /* Adjust as needed for your layout */
}

.numericinput-container input {
  width: 50%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s;
  margin-right: 5px;
}

.numericinput-container input:focus {
  border-color: #007bff;
  outline: none;
}

.numericinput-container span {
  padding: 5px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
}
